@charset "UTF-8";

@media screen and (min-width: 768px) {
    span#burguer {
        display: none;
    }

    nav {
        display: block;
    }

    nav li{
        display: inline-block;
        margin: 0;
    }

    na li a {
        margin: 0;
    }

    main {
        width: 850px;
    }
}
